.hero {
  .navbar {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 74px 3fr 196px;
    grid-template-areas: "logo menu schedule";
    width: 1140px;
    height: 63px;
    align-items: center;

    .logo {
      grid-area: logo;
    }
    .menu {
      grid-area: menu;
    }
    .schedule {
      grid-area: schedule;
    }
  }
}
